/* remove webkit object highlight */
*{
  outline:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;}

/* remove arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  appearance:none;
  margin:0;}

input[type=number]{
  -webkit-appearance:textfield;
  appearance:textfield;}

/* scrollbar */
::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar-thumb{border-radius:6px;}

html,
body{
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;}

body{
  font-family:Arial,sans-serif;
  font-size:13px;
  color:rgb(50,50,50);
  background-color:rgb(230,230,230);}

#app{
  -webkit-user-select:none;
  user-select:none;
  overflow-x:hidden;
  overflow-y:scroll;
  scrollbar-gutter:stable both-edges;
  height:100%;}

#app::-webkit-scrollbar-thumb{
  background-color:rgb(145,145,145);}

/* input */
input{
  width:100%;
  height:100%;
  font-family:Arial,sans-serif;
  font-size:13px;
  display:block;
  box-sizing:border-box;
  padding:8px 0;
  border:0;}

/* icons */
.icon{
  width:11px;
  height:11px;
  position:absolute;
  box-sizing:border-box;
  display:block;
  stroke-width:1px;
  stroke:rgb(50,50,50);}

/* buttons */
.button{
  padding:5px 8px;
  background-color:rgb(255,255,255);
  font-size:90%;
  position:relative;
  cursor:pointer;
  box-sizing:border-box;}

@media (hover: hover){
  .button:hover{background-color:rgb(245,245,245);}
}

.wrap{
  box-sizing:border-box;
  padding-left:10px;
  padding-right:10px;
  width:100%;
  max-width:735px;
  margin-left:auto;
  margin-right:auto;}

#menu{
  gap:0 5px;
  display:flex;}

#menu .item{
  min-width:100px;
  flex-basis:15%;}

#menu input{
  width:100%;
  box-sizing:border-box;
  text-align:center;
  padding:8px 6px;}

#menu input:is(:focus,:hover){
  background-color:rgb(245,245,245);}

#header,
#body,
#footer{
  display:block;
  box-sizing:border-box;
  position:relative;
  width:100%;}

/* header */
#hTop,
#hMid{margin-top:20px;}

#hTop{
  gap:0 5px;
  justify-content:flex-end;
  display:flex;}

#hTop #numDef{
  margin-right:auto;
  font-size:150%;}

#hMid{display:flex;}

#hMid .block{flex-basis:48%;}
#hMid .block:last-child{margin-left:auto;}

#hMid .item input{
  padding:8px 6px;
  margin-bottom:5px;
  margin-right:5px;
  width:100%;}

#hMid .block{
  position:relative;}

#hMid .block .item{
  display:flex;}

#hMid .name{flex-basis:40%;min-width:96px;}
#hMid .date{flex-basis:60%;}

#hMid .item input:is(:focus,:hover){
  background-color:rgb(245,245,245);}

/* body */
#body{margin-top:56px;}

#bTop,
#bMid,
#bBot{
  display:block;
  position:relative;
  width:100%;}

#body .empty,
#body .remove{
  position:relative;
  flex-basis:5%;}

#body .remove{cursor:pointer;}

#bTop{
  font-weight:bold;
  display:flex;
  padding:8px 0;
  border-top:1px solid rgb(200,200,200);
  border-bottom:1px solid rgb(200,200,200);}

#bMid .item{
  position:relative;
  border-bottom:1px solid rgb(200,200,200);
  box-sizing:border-box;
  display:flex;}

#bMid .item input{background-color:transparent;}

#body .icon{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);}

#bTop .name{
  max-width:45%;
  flex-grow:1;
  flex-basis:45%;}

#bMid .name{
  max-width:40%;
  flex-grow:1;
  flex-basis:40%;
  overflow-wrap:break-word;
  box-sizing:border-box;
  padding:10px 0;}

#body .units{flex-basis:10%;}

#body .units,
#body .units input{
  text-align:center;}

#body .quantity{flex-basis:10%;}

#body .quantity,
#body .quantity input{
  text-align:center;}

#body .price{flex-basis:15%;}

#body .price,
#body .price input{
  text-align:right;}

#body .sum{
  flex-basis:20%;
  text-align:right;}

#bMid .sum{
  justify-content:flex-end;
  display:flex;
  padding:10px 0;}

/* rows add */
#rowAdd{
  position:absolute;
  left:5%;
  top:5px;}

/* body bottom */
#bBot .item{
  justify-content:flex-end;
  display:flex;}

#bBot .title,
#bBot .data{
  flex-basis:20%;
  padding:8px 0;
  text-align:right;}

#bBot #rTax .title,
#bBot #rTax .data{
  border-bottom:1px solid rgb(200,200,200);}

#bBot #rTot{font-weight:bold;}

#bBot .data{
  justify-content:flex-end;
  display:flex;}

#bBot .item#rTax{display:none;}
#bBot .item#rTax.on{display:flex;}

/* footer */
#footer{
  overflow-wrap:break-word;
  max-width:100%;
  border-top:1px solid rgb(200,200,200);
  padding:8px 0;
  margin-top:80px;}

/* calender */
#calender{
  box-sizing:border-box;
  z-index:1;
  position:absolute;
  width:100%;
  top:0;
  -webkit-user-select:none;
  user-select:none;
  box-sizing:border-box;
  background-color:rgb(255,255,255);
  display:flex;
  flex-direction:column;
  font-family:Arial,sans-serif;}

#calendarClose{
  cursor:pointer;
  font-weight:bold;
  color:rgb(255,255,255);
  background-color:rgb(185,50,50);
  text-align:center;
  width:100%;
  padding:5px 0;
  font-size:86%;}

#calendarTop{
  font-weight:bold;
  font-size:14px;
  display:flex;
  align-items:center;
  border-bottom:1px solid rgb(200,200,200);}

#daysNames{
  width:100%;
  cursor:default;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  display:flex;
  border-bottom:1px solid rgb(200,200,200);}

#daysNames div{
  padding:2px 0;
  flex-basis:calc(100% / 7);}

#calender #month,
#calender #calendarPrev,
#calender #calendarNext{
  padding:10px 0;}

#calender #month{
  cursor:default;
  border-left:1px solid rgb(200,200,200);
  border-right:1px solid rgb(200,200,200);
  text-align:center;
  flex-basis:60%;}

#calender #calendarPrev,
#calender #calendarNext{
  text-align:center;
  cursor:pointer;
  flex-basis:20%;}

@media (hover: hover){
  #calender #calendarPrev:hover,
  #calender #calendarNext:hover{background-color:rgb(245,245,245);}
}

#calender #days{
  padding-top:5px;
  padding-bottom:5px;
  flex:1;
  display:grid;
  grid-template-columns:repeat( 7, 1fr);
  justify-content:center;
  align-items:center;
  color:rgb(50,50,50);}

#calender #days div{
  box-sizing:border-box;
  font-size:14px;
  width:100%;
  padding:4px 0;
  justify-self:center;
  align-self:center;
  text-align:center;
  cursor:pointer;}

#calender #days div.active,
#calender #days div:hover{
  background-color:rgb(245,245,245);}

#calender #days div.empty{
  cursor:default;
  background-color:transparent;}

@media print{
  *,*:before,*:after{
  color:rgb(0,0,0)!important;
  background:transparent!important;}
  .wrap{
    padding-left:0!important;
    padding-right:0!important;}
  #hMid .item input{
    padding:4px 0;
    margin-bottom:0!important;}
  #invBody .empty,
  #invBody .remove{
    visibility:hidden;}
  .noPrint{
    display:none!important;}
}
